@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blanchcaps_inline';
  src: url('./fonts/blanch_caps_inline-webfont.eot');
  src: url('./fonts/blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/blanch_caps_inline-webfont.woff') format('woff'),
       url('./fonts/blanch_caps_inline-webfont.ttf') format('truetype'),
       url('./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Everett';
  src: url('./fonts/Everett-Medium.ttf') format('truetype');
  src: url('./fonts/Everett-Medium.woff') format('woff'),
       url('./fonts/Everett-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Everett';
  src: url('./fonts/Everett-Light.ttf') format('truetype');
  src: url('./fonts/Everett-Light.woff') format('woff'),
       url('./fonts/Everett-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Everett';
  src: url('./fonts/EverettJana-Regular.ttf') format('truetype');
  src: url('./fonts/EverettJana-Regular.woff') format('woff'),
       url('./fonts/EverettJana-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}