.order-enter {
  transform: translateX(-120%);
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  transform: translateX(0);
  padding: 2rem 0 !important;
}
.order-exit {
  transition: 0.5s;
  transform: translateX(0);
}
.order-exit.order-exit-active {
  transform: translateX(120%);
  padding: 0;
}
.count-enter {
  background: #f00;
  transition: 0.5s;
  transform: translateY(100%);
}
.count-enter.count-enter-active {
  background: #ff0;
  transform: translateY(0);
}
.count-exit {
  background: #000;
  transform: translateY(0);
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  background: #008000;
  transform: translateY(-100%) scale(3);
}
@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Everett';
  src: url("./fonts/Everett-Medium.ttf") format('truetype');
  src: url("./fonts/Everett-Medium.woff") format('woff'), url("./fonts/Everett-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Everett';
  src: url("./fonts/Everett-Light.ttf") format('truetype');
  src: url("./fonts/Everett-Light.woff") format('woff'), url("./fonts/Everett-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Everett';
  src: url("./fonts/EverettJana-Regular.ttf") format('truetype');
  src: url("./fonts/EverettJana-Regular.woff") format('woff'), url("./fonts/EverettJana-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Everett', sans-serif;
  font-size: 1rem;
}
h1 {
  font-family: 'Everett', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Everett', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
header.heading {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 91vw;
  justify-content: space-between;
}
header.heading a.logo {
  margin-left: 17px;
  font-size: 7rem;
  letter-spacing: -5px;
}
header.heading .more {
  display: flex;
  flex-direction: column;
  width: 420px;
  text-align: left;
  margin-top: 20px;
}
header.heading .more .description {
  font-size: 1.125rem;
  margin-top: 0;
  width: 440px;
  text-align: left;
  margin-bottom: 0;
}
header.heading .more a.filters {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  border: 1px solid #171717;
  font-size: 0.75rem;
  position: absolute;
  top: 68px;
  right: -7px;
}
header.heading .more a.filters p {
  padding-left: 5px;
  margin-top: 2px;
}
header.heading .more a.filters img {
  margin-left: 10px;
}
.catch-of-the-day {
  display: flex;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 0;
}
input#fold:not(:checked) ~ #main .catch-of-the-day > * {
  transform: none;
}
label[for="fold"] {
  display: none;
}
input#fold {
  display: none;
}
input#fold:checked + label {
  background: #fff;
  color: #171717;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.order {
  margin-top: -20px;
}
ul.order li {
  border-bottom: 1px solid #c2d880;
  padding: 1.75rem 0;
  display: flex;
  font-size: 1.12rem;
  flex-direction: column;
  margin: 0 24px;
}
ul.order li .cart-name {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
ul.order li .selected-size {
  font-size: 0.75rem;
  margin: 6px 0;
}
ul.order li .value-discard {
  display: flex;
  justify-content: space-between;
}
ul.order li:hover button {
  display: inline;
}
ul.order li button {
  border: 0;
  line-height: 1;
  padding: 0;
}
ul.order li.unavailable {
  text-decoration: line-through;
  background: #f8d0d2;
}
ul.order li .price {
  font-size: 1.2rem;
}
ul.order li span.count {
  position: relative;
  overflow: hidden;
  float: left;
}
ul.order li span.count span {
  display: inline-block;
}
ul.order li .close-button img {
  opacity: 1;
}
.total {
  padding: 2rem 0;
  font-family: "Everett";
  font-size: 1.4rem;
  margin: 0 24px;
}
.total strong {
  float: right;
}
h2.order-title {
  text-align: center;
  margin-top: 20px;
}
.fish-edit {
  position: relative;
  border: 1px solid #171717;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  margin: 0 24px 20px 29px;
  background-color: #fffefa;
}
.fish-edit select {
  display: none;
}
.fish-edit input,
.fish-edit textarea,
.fish-edit select {
  width: 100%;
  padding: 10px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
.fish-edit input:focus,
.fish-edit textarea:focus,
.fish-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.fish-edit input {
  font-size: 1.25rem;
  font-weight: 500;
}
.fish-edit textarea {
  width: 88.5%;
  font-size: 0.875rem;
  margin-top: -18px;
  padding-bottom: 0;
  resize: none;
}
.fish-edit input:last-of-type {
  width: 100%;
}
.fish-edit .price-text {
  z-index: 2;
  padding: 0;
  margin: 0 0 0 10px;
}
.fish-edit input.creator-name {
  width: 80%;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  z-index: 3;
  font-size: 0.75rem;
  font-weight: 300;
}
.fish-edit button.remove-fish,
.fish-edit .addFish-button {
  width: 100%;
  border: none;
  border-top: 1px solid #171717;
  border-radius: 0;
  position: absolute;
  right: -111px;
  top: 108px;
  transform: rotate(-90deg);
  width: 250px;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: end;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 4px;
}
.fish-edit button.remove-fish:hover,
.fish-edit .addFish-button:hover {
  background-color: #171717;
  color: #fff;
}
.fish-edit .image-text {
  font-size: 0.875rem;
}
.fish-edit .sizing .row {
  display: flex;
  justify-content: space-between;
  width: 86%;
  height: 20px;
  margin: 5px;
  margin-left: 10px;
}
.fish-edit .sizing .row .labels,
.fish-edit .sizing .row .field {
  display: flex;
  justify-content: start;
  margin-left: 2px;
  width: 50%;
}
.fish-edit .sizing .row .labels span {
  opacity: 0.4;
  font-weight: 500;
  margin-right: 5px;
  padding: 0 4px;
}
.fish-edit .sizing .row .labels span.active {
  opacity: 1;
  border: 1px solid #171717;
  border-radius: 50%;
}
.fish-edit .sizing .row .field input.quantity {
  border-bottom: 1px solid #171717;
  width: 50%;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 200px;
  background: linear-gradient(#d2fe51, transparent 80%);
}
.list-of-fish {
  border-top: 2px solid #171717;
  border-bottom: 1px solid #171717;
  padding-top: 5px;
  margin-top: 2rem;
  transform: translateZ(0);
}
ul.fishes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1084px;
  margin: auto;
  margin-top: 120px;
}
.menu-fish {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 24px;
}
.menu-fish p.fish-desc {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 400;
  height: 32px;
}
.menu-fish textarea {
  resize: none;
}
.menu-fish .creator-name {
  font-weight: 300;
  font-size: 0.75rem;
  margin-top: 6px;
}
.menu-fish .fish-name {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  font-size: 1.5rem;
}
.menu-fish div.number-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}
.menu-fish div.number-details .price {
  font-size: 1.5rem;
  justify-content: flex-end;
  margin-top: 12px;
}
.menu-fish div.number-details .sizes {
  display: flex;
  justify-content: space-between;
}
.menu-fish div.number-details .sizes .field_group {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}
.menu-fish div.number-details .sizes .field_group label,
.menu-fish div.number-details .sizes .field_group .labels {
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.menu-fish div.number-details .sizes .field_group label.active,
.menu-fish div.number-details .sizes .field_group .labels.active {
  margin-right: -5px;
  border: 1px solid #171717;
  border-radius: 50%;
  padding: 1px 4px 0px 4px;
}
.menu-fish div.number-details .sizes .field_group label .medium .active,
.menu-fish div.number-details .sizes .field_group .labels .medium .active {
  margin-left: 1px;
  padding: 1px 3px 0px 2px;
}
.menu-fish div.number-details .sizes .field_group input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: -6px;
  top: -1px;
  z-index: 1;
  width: 23px;
  height: 20px;
}
.menu-fish div.number-details .sizes .field_group #medium {
  left: -3px;
}
.menu-fish img {
  width: 220px;
  height: 280px;
  margin-bottom: 24px;
}
.menu-fish button.addTo {
  width: 150px;
  height: 44px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 80%;
  font-size: 0.85rem;
  font-family: "Everett";
  font-weight: 500;
}
.menu-fish button.addTo:hover {
  color: #fff;
  background-color: #171717;
}
button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid #171717;
  font-weight: 600;
  font-size: 0.85rem;
  font-family: "Everett", sans-serif;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
  border-radius: 80%;
}
button[disabled],
input[type=submit][disabled] {
  display: none;
}
button[disabled] .menu-fish,
input[type=submit][disabled] .menu-fish {
  opacity: 0.4;
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  cursor: not-allowed;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  color: #171717;
  outline: 0;
  border-radius: 80%;
}
button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
  height: 100%;
  border-radius: 80%;
}
button.warning:after,
input[type=submit].warning:after {
  background: #d12028;
}
button.success:after,
input[type=submit].success:after {
  background: #dbfd77;
}
button.github,
input[type=submit].github {
  color: #171717;
  background: #f2f2f2;
  padding: 10px 30px;
  font-weight: 500;
}
button.github:hover,
input[type=submit].github:hover {
  background: #171717;
  color: #fff;
}
.store-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #171717;
}
.store-selector input,
.store-selector button {
  width: 100%;
}
.store-selector input[type="text"],
.store-selector button[type="text"] {
  text-align: center;
  font-size: 3rem;
}
.container .drawer {
  position: relative;
  overflow: visible;
  z-index: 2;
}
.container .drawer .tab {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: end;
  width: 78px;
  background-color: #f2f2f2;
  height: 50vh;
  border-radius: 0;
  left: 0;
}
.container .drawer .tab span.drawer-title {
  display: flex;
  transform: rotate(-90deg);
  font-size: 3.375rem;
  font-weight: 500;
  margin-top: 81px;
}
.container .drawer .tab span.drawer-title .items-amount {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #171717;
  color: #fff;
  position: relative;
  margin-top: 11px;
  margin-left: 10px;
}
.container .drawer .tab span.drawer-title .items-amount .num {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 15px;
  text-align: center;
  transform: rotate(90deg) translate(-9px, 6px);
}
.container .drawer .tab span.title-vendor {
  margin-top: 104px;
}
.container .drawer .tab:hover {
  background-color: #dbfd77;
  color: #171717;
}
.container .drawer .tab:visited {
  background-color: #dbfd77;
  color: #171717;
}
.container .drawer .tab.cart {
  top: 0;
  border: 1px solid #171717;
}
.container .drawer .tab.vendor {
  bottom: 0;
  border-top: none;
}
.container .drawer .cart-drawer {
  background-color: #dbfd77;
}
.container .drawer .vendor-drawer {
  background-color: #800080;
}
.container .drawer .sub-drawer {
  padding-left: 78px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #171717;
}
.container.default .drawer {
  background-color: #dbfd77;
  width: 6vw;
}
.container.default .drawer .order-wrap,
.container.default .drawer .inventory {
  display: none;
}
.container.default .menu {
  width: 94vw;
}
.container.cart,
.container.vendor {
  overflow-y: hidden;
}
.container.cart .menu,
.container.vendor .menu {
  width: 70vw;
  overflow-y: auto;
}
.container.cart ul.fishes,
.container.vendor ul.fishes {
  max-width: 804px;
}
.container.cart header.heading,
.container.vendor header.heading {
  width: 80vw;
}
.container.cart header.heading .description,
.container.vendor header.heading .description {
  font-size: 1rem;
  width: 268px;
}
.container.cart header.heading a.filters,
.container.vendor header.heading a.filters {
  margin-top: 0.4rem;
  position: absolute;
  right: 158px;
  top: 5rem;
}
.container.cart .subdrawer,
.container.vendor .subdrawer {
  border: 1px solid #171717;
}
.container.cart .drawer {
  background-color: #dbfd77;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  color: #171717;
}
.container.cart .drawer .tab.cart {
  background-color: #dbfd77;
  border: 1px solid #171717;
  border-right: none;
  color: #171717;
}
.container.cart .drawer .sub-drawer {
  position: relative;
  color: #171717;
}
.container.vendor {
  background-color: #dbfd77;
}
.container.vendor .drawer {
  background-color: #dbfd77;
  width: 30vw;
}
.container.vendor .drawer .tab.vendor {
  background-color: #dbfd77;
  border: 1px solid #171717;
  border-top: none;
  border-right: none;
  color: #171717;
}
.container.vendor .drawer .cart-drawer .close-button img {
  opacity: 0;
}
.container.vendor .drawer .vendor-drawer {
  background-color: #dbfd77;
}
.container.vendor .drawer .vendor-drawer .inventory h2 {
  margin-top: 20px;
}
.container.vendor .drawer .vendor-drawer .inventory .allEditingFishes {
  margin-top: -10px;
}
.container.vendor .drawer .vendor-drawer .inventory .loadfish-button {
  text-align: center;
  display: flex;
  padding: 13px 24px;
  vertical-align: middle;
  margin-left: 16%;
  margin-bottom: 20px;
}
.container.vendor .logout-button {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 0.75rem;
  font-weight: 500;
  border: none;
  border-radius: 0;
  text-decoration: underline;
}
.menu {
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  overflow-y: auto;
}
.login {
  position: absolute;
  bottom: 29.5%;
  text-align: center;
  display: flex;
  width: 79%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.login p {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.login .github {
  width: 150px;
  margin: auto;
  margin-top: 20px;
}
.login a {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
.login a:hover {
  opacity: 0.4;
}
